<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerlinks.ejs') %> 
    <title>404 error</title>
</head>

<body>
    <div class="container-fluid m-auto">
        <div class="row ">
            <div class="col-md-4 col-12 mx-auto">
                <figure>
                    <img src="img/404.png"  alt="404 error">
                </figure>
                
                <h1 class="text-danger ">OOPS ! Page Not Found</h1>
                </div>
            </div>
        </div>
    </div>

</body>

</html>