<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/headerlinks.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="heading">
        <h1>YOUR FEEDBACK IS RECORDED!!</h1>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>