* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #2196f3;
}

.wrapper {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.myForm {
  background-color: white;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  min-width: 400px;
  border-radius: 5px;
}

.formElement {
  width: 90%;
}

.formInstructionsDiv {
  width: 100%;

  padding: 15px 0;
  background-color: #ea1c2c;
  border-radius: 5px;
  border-bottom: solid #ea1c2c;
}

.formInstructionsDiv h2 {
  margin-left: 5%;
  font-size: 3em;
  font-family: "ebrima";
  font-weight: lighter;
}

.formInstructionsDiv p {
  margin-left: 5%;
  font-size: 1em;
  font-family: "ebrima";
}
.fillContentDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 280px;
}

.formContentElement {
  min-width: 100%;
}

.names {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.names .inputRequest {
  width: 47.5%;
  min-width: 150px;
}

.inputRequest {
  padding: 15px;
  font-size: 1.2em;
  background-color: #f2f2f2;
  border-style: none;
  border-radius: 5px;
 
}

.inputRequest:focus {
  border-style: solid;
  border-width: 0.5px;
  border-color: #000000;
}

.submitButton {
  width: 40%;
  height: 100%;
  background-color: #51c0e6;
  border-style: none;
  margin-top: 0.3rem;
  font-size: 1.2em;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px;
}
.submitButton a {
  color: white;
  text-decoration: none;
}
.submitButton:hover {
  background-color: #a2dcf0;
}
.submitButtonDiv {
  height: 45px;

  margin-bottom: 20px;
}
